@use "../../../../../../../styles/abstracts" as *;
:host {
  display: flex;
  justify-content: center;
}
.search {
  border: 1px solid var(--border);
  width: max(25vw, rem(230));
  border-radius: rem(18);
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: all $half-transition-duration ease-in-out;
  &:focus-within {
    width: max(27vw, rem(250));
  }
}
.search__input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: rem(12) rem(12);
  &::placeholder {
    color: var(--text-muted);
  }
}

.search__btn {
  cursor: pointer;
  border: none;
  padding: rem(12) rem(12);
}
