<ul class="products">
  @for(item of items() ; track item.product.id){
  <li class="products__product">
    <figure>
      <img [src]="item.product.imageUrl" alt="" />
    </figure>
    <span>{{ item.product.name }}</span>
    <div>
      <select
        name="quantity"
        id=""
        [value]="item.quantity"
        (change)="onChangeQuantity(item, $event)"
      >
        @for(c of count() ; track c){
        <option [value]="c" [selected]="c === item.quantity">{{ c }}</option>
        }
      </select>
    </div>
    <span>{{ item.price }}</span>
    <div>
      <button class="fs-mini" (click)="onRemoveProduct(item)">
        Remove <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </li>
  }
</ul>
