@use "../../../../../styles/abstracts" as *;
.all-meals {
  display: flex;
  flex-direction: column;
  gap: rem(30);
  padding: rem(20) rem(10);
  @include breakpoint(sm) {
    padding: rem(30) rem(20);
  }
}
