@use "abstracts" as *;

.total {
  @include colGap(15);
  border: 1px solid var(--primary);
  padding: rem(15) 0;
  border-radius: rem(15);
}

.total__count {
  margin-top: rem(50);
  font-weight: 500;
}

.total__price {
  margin-bottom: rem(50);
  font-weight: 500;
}

span {
  color: var(--text-muted);
}
