@use "abstracts" as *;
.cart {
  padding: rem(20);
}

.cart__container {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  @include breakpoint(md) {
    flex-direction: row;
  }
}

.cart__products {
  flex: 2;
}

.cart__total {
  flex: 1;
  order: -1;
  @include breakpoint(md) {
    order: unset;
  }
}
