<section class="meal">
  <figure class="meal__img">
    <img [src]="mealDetails().imageUrl" alt="" />
  </figure>
  <div class="meal__details">
    <div class="meal__info">
      <span>{{ mealDetails().name }}</span>
      <i
        class="fa-solid fa-heart"
        [ngClass]="{ 'c-error': mealDetails().favorite }"
      ></i>
    </div>
    <app-rating [rating]="mealDetails().stars" />
    <div class="meal_origins">
      @for(origin of mealDetails().origins ; track origin){
      <span>{{ origin }}</span>
      }
    </div>
    <div class="meal_tags">
      @for(tag of mealDetails().tags ; track tag){
      <span>{{ tag }}</span>
      }
    </div>
    <p class="meal__cockTime">
      Time To Cock About <span>{{ mealDetails().cookTime }}</span> Minutes
    </p>
    <p class="meal__price">
      <span>Price :</span> {{ mealDetails().price | currency }}
    </p>
    <button>Add To Chart</button>
  </div>
</section>
