@use "../abstracts" as *;
@use "sass:map";

body {
  // at this approach no need for @use as the browser detect the css values
  // unlike when use any SCSS features which compile into a CSS value so need to be exist at the compile time
  // font-family: var(--ff-primary);
  // font-size: var(--fs-400);
  // background-color: var(--clr-background);
  // color: var(--clr-text);
  // font-weight: 400;
  font-family: $main-font;
  font-size: map.get($map: $font-sizes, $key: default);
  transition: all ease-in-out $transition-duration;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

button {
  cursor: pointer;
  &:disabled {
    opacity: 0.8;
    cursor: no-drop !important;
  }
}

a {
  text-decoration: none;
}

.page-header {
  margin: 0;
  margin-bottom: rem(30);
  padding: 0;
  color: var(--text-muted);
  font-weight: 500;
}

.action-btn {
  font-size: map.get($map: $font-sizes, $key: small);
  width: 90%;
  padding: rem(12);
  border-radius: rem(15);
  border: none;
  background-color: var(--primary);
  color: white;
  transition: all var($half-transition-duration) ease-in-out;
  &:hover {
    background-color: var(--primary-hover);
  }
}
