@use "../abstracts" as *;
.container {
  display: grid;
  gap: rem(20);
  @include breakpoint(sm) {
    grid-template-columns: repeat(auto-fill, minmax(rem(400), 1fr));
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.between {
  @extend .center;
  justify-content: space-between;
}
.p-10 {
  padding: rem(10);
}
.px-10 {
  padding: 0 rem(10);
}
.py-10 {
  padding: rem(10) 0;
}
