@use "abstracts" as *;

.tags {
  @include rowGap(5);
  justify-content: center;
  flex-wrap: wrap;
  @include breakpoint(md) {
    @include rowGap(10);
  }
}
.tag {
  border-radius: rem(10);
  padding: rem(5) rem(8);
  border: 1px solid var(--border);
  outline: none;
  transition: background-color ease-in-out var(--$transition-duration);
  &:hover {
    background-color: var(--primary-hover);
  }
  &.active {
    background-color: var(--primary);
  }
}
