@use "../../../../styles/abstracts" as *;
.header {
  @extend %between;
  padding-inline-end: 1.5vw;
  padding-inline-start: 1vw;
  border-bottom: 2px solid var(--primary);
}
.header__logo img {
  width: rem(60);
  height: rem(60);
}
.header__nav {
  @include rowGap(30);
  gap: 1vw;
  button {
    border: none;
  }
}
.header__user {
  @include rowGap(8);
  background-color: transparent;
  color: var(--primary);
  position: relative;
  &:hover {
    color: var(--primary-hover);
  }
  .list {
    display: none;
    position: absolute;
    width: 120%;
    top: 120%;
    left: -10%;
  }
}
.header__lang {
  @include rowGap(8);
  background-color: transparent;
  position: relative;
  color: var(--text-muted);
  ul {
    // display: none;
    width: 140%;
    position: absolute;
    left: -20%;
    top: 120%;
  }
  img {
    width: rem(25);
    height: rem(25);
    border-radius: 50%;
  }
}

.header__theme {
  background-color: transparent;
  .moon {
    color: #c0c0c0;
  }
  .sun {
    color: #ffc107;
  }
}

.info {
  display: none;
  @include breakpoint(md) {
    display: block;
  }
}
