<header class="header">
  <a routerLink="" class="header__logo"><img src="logo.png" alt="logo" /></a>
  <nav class="header__nav">
    <button class="header__user" (click)="displayMenu(userInfo)">
      <i class="fa-solid fa-user"></i><span class="info">Mahmoud</span>
      <ul class="list animate__animated" #userInfo>
        <li><i class="fa-solid fa-id-badge"></i>Profile</li>
        <li><i class="fa-solid fa-cart-shopping"></i>Cart</li>
        <li><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</li>
      </ul>
    </button>
    <button class="header__lang" (click)="displayMenu(languages)">
      <img src="ar.jpg" alt="" /><span class="info">Arabic</span>
      <ul class="list animate__animated" #languages>
        <li><img src="ar.jpg" alt="" />Arabic</li>
        <li><img src="en.png" alt="" />English</li>
      </ul>
    </button>
  </nav>
</header>
