<header class="header">
  <a routerLink="" class="header__logo"><img src="logo.png" alt="logo" /></a>
  <nav class="header__nav">
    <button class="header__user">
      <i class="fa-solid fa-user"></i><span class="info">Mahmoud</span>
      <ul class="list" appMenu>
        <li>
          <a>
            <i class="fa-solid fa-id-badge"></i
            >{{ "header.profile" | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/user/cart">
            <i class="fa-solid fa-cart-shopping"></i
            ><span>{{ "header.cart" | translate }}({{ cartItems() }})</span>
          </a>
        </li>
        <li>
          <a>
            <i class="fa-solid fa-arrow-right-from-bracket"></i
            >{{ "header.out" | translate }}
          </a>
        </li>
      </ul>
    </button>
    <button class="header__lang">
      @if(appLang() === 'ar'){
      <img src="ar.jpg" alt="" /><span class="info">{{
        "header.ar" | translate
      }}</span>
      }@else {
      <img src="en.png" alt="" /><span class="info">{{
        "header.en" | translate
      }}</span>
      }
      <ul class="list animate__animated" appMenu>
        <li (click)="onChangeLanguage('ar')">
          <img src="ar.jpg" alt="" />{{ "header.ar" | translate }}
        </li>
        <li (click)="onChangeLanguage('en')">
          <img src="en.png" alt="" />{{ "header.en" | translate }}
        </li>
      </ul>
    </button>
    <button class="header__theme" (click)="onChangeTheme()">
      @if(appTheme() === 'light'){
      <i class="moon fa-solid fa-moon"></i>
      }@else{
      <i class="sun fa-solid fa-sun"></i>
      }
    </button>
  </nav>
</header>
