@use "abstracts" as *;
.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--bg);
  @extend %between;
  padding-inline-end: 1.5vw;
  padding-inline-start: 1vw;
  border-bottom: 2px solid var(--primary);
}
.header__logo img {
  width: rem(40);
  height: rem(40);
  @include breakpoint(md) {
    width: rem(60);
    height: rem(60);
  }
}
.header__nav {
  @include rowGap(30);
  gap: 1vw;
  height: rem(40);
  @include breakpoint(md) {
    height: rem(60);
  }
  button {
    border: none;
    background-color: transparent;
    height: 100%;
  }
}
.header__user {
  z-index: 10;
  @include rowGap(8);
  color: var(--primary);
  position: relative;
  &:hover {
    color: var(--primary-hover);
  }
  .list {
    display: none;
    position: absolute;
    width: rem(150);
    top: 90%;
    inset-inline-end: -20px;
  }
  a {
    @extend %between;
    width: 100%;
  }
}
.header__lang {
  z-index: 10;
  @include rowGap(8);
  position: relative;
  color: var(--text-muted);
  ul {
    display: none;
    width: rem(150);
    position: absolute;
    top: 90%;
    inset-inline-end: rem(-20);
  }
  img {
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    @include breakpoint(md) {
      width: rem(25);
      height: rem(25);
    }
  }
}

.header__theme {
  .moon {
    color: #c0c0c0;
  }
  .sun {
    color: #ffc107;
  }
}

.info {
  display: none;
  @include breakpoint(md) {
    display: block;
  }
}
